@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeue.ttf");
    font-weight: 100;
}
@font-face {
    font-family: 'LuxuryRoyaleJF';
    src: url("../fonts/Luxuryroyalejf.ttf");
    font-weight: 200;
}

body {
    font-family: 'HelveticaNeue', 'Arial', 'LuxuryRoyaleJF', Sans-Serif;
    margin: 0;
    padding: 0;
    min-width: 100%;
    float: left;
}

.blackTop {
    background-color: black;
}

.whiteTop {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;*/
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.06px;
    text-align: left;
    width: 100%;
}


.rightPart {
    display: flex;
    justify-content:flex-start;
    align-items: center;
 /*   flex: 0.5;*/
    border-right: 1px solid;
    border-color: #9f9f9f;
    border-left: 1px solid;
}

.firstForHideCurrency>li:hover .menuHideCurrency {
display: block;
}

.firstForHideCurrency {
    position: relative;
    line-height: 20px;
}

.menuHideCurrency {
 position: absolute;
    display: none;
    margin-top: 0;
}

.menuHideCurrency {
   flex-direction: column;
    background-color: black;
}

.menuHideCurrency li:hover {
    background-color: darkgrey;
}

.rightPart i:first-child, a {
    color: #9f9f9f;
}

.blackTop p {
    flex: 1;
}

.blackTop i {
   margin-left: 10px;
}

.accountMy {
    border-left: 1px solid;
    border-right: 1px solid;
     border-color: #9f9f9f;
    line-height: 40px;
    width: 125px;
}

.accountMy a {
    color: white;
   display: inline-block;
    flex: 0.5;
    margin-left: 5%;
}

.rightPart input {
    display: none;
}

.fa-search:hover .rightPart input {
    display: block;
}

/* header with logo*/

.logoMenu {
   display: flex;
    align-items: center;
    justify-content: space-between;*/
    min-height: 120px;
    width: 100%;
}

.logoMenu ul, form {
    flex: 1;
}

.logoMenu form {
    max-width: 20%;
    color: #949393;
    border: 1px solid;
    min-height: 66px;
    padding: 10px;
}

.logoMenu img {
    flex: 0.5;
}

.logoPicture {
    justify-content: space-around;
    margin-right: 10%;
}

.menuForProducts {
    font-family: Arial;
    color: black;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.08px;
    display: flex;
    justify-content: space-around;
    position: relative;
    min-width: 53%;
}

.menuForProducts li {
    width: 100px;
    margin-left: 2%;
}

.menuForProducts li>i {
    margin-left: 3px;
}

.menuForProducts>li:hover .menuHidedNew, .menuForProducts>li:hover .menuHidedDesigners, .menuForProducts>li:hover .menuHidedWomen, .menuForProducts>li:hover .menuHidedMen, .menuForProducts>li:hover .menuHideclearence {
    display: block;
}

.menuHidedNew, .menuHidedDesigners, .menuHidedWomen, .menuHidedMen, .menuHideclearence {
    position: absolute;
    display: none;
}

.menuHidedNew li, .menuHidedDesigners li, .menuHidedWomen li, .menuHidedMen li, .menuHideclearence li {
    float: none;
    background-color: black;
}

.menuHidedNew li:hover, .menuHidedDesigners li:hover, .menuHidedWomen li:hover, .menuHidedMen li:hover, .menuHideclearence li:hover {
    background-color: darkgray;
}

.basketArea {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid;
    border-color: #949393;
}

.basketArea span {
  display: flex;
   flex: 1;
    margin-top: 10px;
}

.basketArea i {
    flex: 2;
    margin-top: 10px;
}

.quantaty {
    margin-right: 5px;
}

.totalCost {
    margin-left: 5px;
}

.borderBetween {
    border-left: 1px solid;
    border-color: #949393;
    padding-left: 5px;
}

.yourCart {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.yourCart ul {
    margin: 0;
    align-items: center;
}

/*
Main Slider*/

.mainSlider {
background-image: url("../img/Layer 33.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
    width: 100%;
}


.lineForTheSlider {
    min-height: 80px;
    background-color: #f2f2f2;
}

.lineForTheContacts {
    background-color: #ededed;
    min-height: 55px;
}

.contactsWrap {
   display: flex;
    align-items: center;
    font-family: Arial;
    color: #6b6b6b;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.06px;
}

.emailData {
float: left;
    display: flex;
    width: 800px;
}

.peachFont {
    background-color: #fd926d;
    color: white;
    width: 28px;
   min-height: 28px;
    line-height: 28px;
}

.peachFont i {
    margin-left: 0.5em;
}

.emailData input{
    max-width: 160px;
    height: 30px;
    background-color: white;
    border: none;
    font-style: italic;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.emailData p {
    display: inherit;
    align-items: center;
}

.addEmailAddress {
    align-items: center;
    display: inherit;
}

.findUsHere {
    display: flex;
   float: left;
    width: 400px;
    align-items: inherit;
    justify-content: flex-end;
}

.findUsHere p {
    margin-right: 2%;
}

.findUsHere i {
    margin-left: 1em;
}

.grayLiterFontForContacts {
    background-color: #f7f7f7;
    color: #6b6b6b;
    width: 55px;
    min-height: 55px;
    line-height: 55px;
}

.grayFontForContacts {
    background-color: #ededed;
    color: #6b6b6b;
    width: 55px;
    min-height: 55px;
    line-height: 55px;
}

/*Figures*/

.bestOutfitsLook {
    margin-top: 5%;
    height: 400px;
    margin-bottom: 5%;
}

.bestOutfitsLook a {
    display: block;
    margin: 0px;
}

.leftPartButtons, .rightPartButtons{
    width: 50%;
    float: left;
    height: 400px;
}

.manAside {
    background-image: url("../img/Layer 6.png");
    margin-right: 1px;
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
}

.manAside h2 {
    margin: 0;
}

.girlWithHear {
    background-image: url("../img/Layer 3.png");
    height: 200px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
    background-size: cover;
}

.girlWithHear h4 {
    margin: 0;
}

.girlWithGlasses {
    background-image: url("../img/Layer 5.png");
    width: 50%;
    height: 200px;
    background-repeat: no-repeat;
    float: left;
    background-size: cover;
}

.guyInChair {
    background-image: url("../img/Layer 7.png");
    width: 50%;
    height: 200px;
    background-repeat: no-repeat;
    float: left;
    background-size: cover;
}

/*shop*/

.menuShop {
    display: flex;
    justify-content: space-around;
    color:  #555555;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.15px;
}

.listForShop {
    display: flex;
    margin: 0;
    line-height: 47px;
    text-align: center;
}

.listForShop li {
    min-width: 35%;
}

.listForShop li:hover {
    background-color: #fd926d;
    height: 47px;
}

.arrowLeft, .arrowRight {
    width: 47px;
    font-size: 31px;
    font-weight: lighter;
}

.arrowLeft:hover, .arrowRight:hover {
    background-color: #fd926d;
}

.arrowsLeftAndRight {
    display: flex;
    min-width: 5%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.basicShop {
    background-color: #fd926d;
    height: 460px;
    overflow: hidden;
}

.wrapperForBasicShop {
    width: 100%;
}

.sellUnit0, .sellUnit1, .sellUnit2, .sellUnit3, .sellUnit4, .sellUnit5, .sellUnit6, .sellUnit7, .sellUnit8 {
    background-color: white;
    float: left;
    width: 220px;
    height: 400px;
    margin: 30px;
}

.clr {
    clear: both;
}

.blockForDiscount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineForDiscount {
    border-color: #b2b2b2;
    width: 20%;
    size: 2px;

}

.grayCercle {
    background-color: #525252;
    border-style: ridge;
    border-width: 10px;
    border-color: #525252;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.discounqBlock {
    display: flex;
    justify-content: center;
    width: 98vw;
    overflow-x: hidden;
    margin: 0 auto;
}

.sellDiscountUnit0, .sellDiscountUnit1, .sellDiscountUnit2, .sellDiscountUnit3, .sellDiscountUnit4 {
    background-color: #f7f7f7;
    width: 220px;
    height: 400px;
    margin: 30px;
}

/*FOOTER*/



.cardsForPayment {
    background-color: #f7f7f7;
    height: 58px;
}

.menuFooter {
    background-color: #ededed;
    height: 240px;
}

.footerBlackBackground {
    background-color: black;
    height: 74px;
}


